apiVersion: v1
kind: ConfigMap
metadata:
  name: aidboxdb-envs
data:
  POSTGRES_DB: postgres
  PGDATA: /data/pg
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: aidboxdb-config
data:
  postgres.conf: |-
    listen_addresses = '*'
    max_replication_slots = 30
    max_wal_senders = 30
    max_wal_size = '1GB'
    max_worker_processes = 128
    pg_stat_statements.max = 500
    pg_stat_statements.save = false
    pg_stat_statements.track = top
    pg_stat_statements.track_utility = true
    shared_buffers = '1GB'
    shared_preload_libraries = 'pg_stat_statements'
    synchronous_commit = off
    track_io_timing = on
    wal_level = logical
    wal_log_hints = on

